:root {
  // FONT SIZE: 12 14 16 18 20 24 30 36 48 60 76 96
  // WHITESPACE: 02 04 08 12 16 24 32 48 64 80 96 128
  // LINE HEIGHT: 1.2 - 1.5
  // FONT WEIGHT: 400 700

  --font-base: "Comfortaa", sans-serif;

  // PRIMARY COLORS
  --color-primary-night: #005F5A;
  --color-primary-hover: #009689;
  --color-primary-mark: #00D5BE;
  --color-primary-bg: #CBFBF1;
  --color-primary-bg-50: #CBFBF180;
  --color-primary-bg-light: #F0FDFA;

  // GREYS
  --color-grey-text: #1D293D;
  --color-grey-text-light: #45556C;
  --color-grey-separate: #90A1B9;
  --color-grey-white: #ffffff;
  --color-grey-white-50: #ffffff80;

  // ACCENT COLOR
  --color-accent-icons: #00D3F2;
  --color-accent-bg-light: #ECFEFF;

  // BOX SHADOW
  --shadow-xl: 0 25px 45px -12px rgba(0, 0, 0, 0.3);
  --shadow-big: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.05);
  --shadow-small: 0 1px 2px 0 rgba(0, 0, 0, 0.3);

}

/* BASE STYLES */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

::selection {
  background-color: var(--color-primary-mark);
  color: var(--color-grey-white);
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  font-size: 62.5%;

  @media (max-width: 60em) {
    scrollbar-color: var(--color-primary-mark) var(--color-primary-bg);
  }
}

body {
  font-family: var(--font-base);
  font-size: 1.8rem;
  color: var(--color-grey-text);
  line-height: 1;
  background: linear-gradient(120deg, var(--color-primary-bg), var(--color-primary-mark));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 60em) {
    height: auto;
    padding: 4.8rem;
  }
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}

p {
  line-height: 1.8;
}

button,
input {
  border: none;
  font-family: inherit;
}

img {
  display: block;
}