.game-container {
  position: relative;
  width: 80%;
  height: 80%;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: var(--shadow-xl);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-mark) var(--color-primary-bg);
}
