.game-container {
  position: relative;
  width: 80%;
  height: 80%;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: var(--shadow-xl);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-mark) var(--color-primary-bg);

  @media (max-width:60em){
      flex-direction: column;
      width: 100%;
      height: 100%;
      border-radius: 1.5rem;
  }
}