.action-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    padding: 4.8rem 0;
}

.dice-img {
    width: 15rem;
    margin: auto 0;
    border-radius: 1rem;
}

.dice-img:hover{
    animation: vibrate 0.2s;
}

@keyframes vibrate{
    from{
        transform: rotate(0);
    }

    25%{
        transform: rotate(5deg);
    }

    50%{
        transform: rotate(-5deg);
    }

    100%{
        transform: rotate(0);
    }
}