.action-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    padding: 4.8rem 0;
}

.dice-img {
    width: 15rem;
    margin: auto 0;
    border-radius: 1rem;
}