.action-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    padding: 4.8rem 0;

    @media (max-width: 60em){
        position: static;
        flex-direction: row;
        justify-content: center;
        gap: 1.2rem;
        transform: translate(0);
        height: auto;
        padding: 0 3.2rem;
        order: -1;
        background-color: var(--color-primary-bg);
    }

    @media (max-width: 37.5em){
        flex-direction: column;
    }
}

.dice-img {
    width: 15rem;
    margin: auto 0;
    border-radius: 1rem;

    @media (max-width: 60em){
        order: -1;
    }
}

.dice-img:hover{
    animation: vibrate 0.2s;
}

@keyframes vibrate{
    from{
        transform: rotate(0);
    }

    25%{
        transform: rotate(5deg);
    }

    50%{
        transform: rotate(-5deg);
    }

    100%{
        transform: rotate(0);
    }
}