.button {
    padding: 1.2rem 2.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: var(--shadow-medium);
    background-color: var(--color-grey-white-50);
    transition: transform 0.2s;
}

.button:hover{
    transform: translateY(-0.2rem);
}