.button {
    padding: 1.2rem 2.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: var(--shadow-medium);
    background-color: var(--color-accent-bg-light);
    transition: transform 0.15s;
}

.button:hover{
    transform: translateY(-0.3rem);
}