.player {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9.6rem 0;
    background-color: var(--color-primary-bg);
    opacity: 0.3;
    gap: 1.2rem;
    min-height: fit-content;

    @media (max-width: 60em){
        --player-mobile-padding: 3.2rem;
        &:first-child{
            order: -2;
            padding-bottom: var(--player-mobile-padding);
            margin-bottom: -1px;
        }
        &:nth-child(2){
            padding-top: var(--player-mobile-padding);
            margin-top: -1px;
        }
    }
}

.player[data-active="true"] {
    opacity: 1;
}

.player__global-score {
    font-size: 6rem;
    margin-bottom: auto;
}

.player__current-score-box {
    padding: 2.4rem;
    background-color: var(--color-primary-mark);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    border-radius: 1rem;
}

.player__current-score-title {
    text-transform: uppercase;
}

.player__current-score {
    font-size: 2.4rem;
}